@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 171 72% 7%; /* #031f1c */
    --foreground: 72 24% 84%; /* #d7dfcb */ --sidebar-background: 0 0% 98%; --sidebar-foreground: 240 5.3% 26.1%; --sidebar-primary: 240 5.9% 10%; --sidebar-primary-foreground: 0 0% 98%; --sidebar-accent: 240 4.8% 95.9%; --sidebar-accent-foreground: 240 5.9% 10%; --sidebar-border: 220 13% 91%; --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 171 72% 7%; /* #031f1c */
    --foreground: 72 24% 84%; /* #d7dfcb */
    --card: 24 9.8% 10%;
    --card-foreground: 72 24% 84%; /* #d7dfcb */
    --popover: 0 0% 9%;
    --popover-foreground: 72 24% 84%; /* #d7dfcb */
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 72 24% 84%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 72 24% 84%; /* #d7dfcb */
    --muted: 0 0% 15%;
    --muted-foreground: 72 20% 75%; /* #d7dfcb */
    --accent: 169 18% 27%; /* #37524f */
    --accent-foreground: 72 24% 84%; /* #d7dfcb */
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 72 20% 75%;
    --input: 72 20% 75%;
    --ring: 72 20% 75%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  /** edit scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d7dfcb;
    border-radius: 8px;
  }
}
