@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi-Medium";
  src: url("./assets/fonts/Satoshi-Medium.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "FoundersGrotesk-Regular";
  src: url("./assets/fonts/FoundersGrotesk-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Reimbrandt-Regular";
  src: url("./assets/fonts/Reimbrandt-Regular.otf") format("opentype");
  font-weight: 400;
}

@layer base {
  * {
    @apply font-satoshi;
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: theme(colors.dark-green.default) theme(colors.green.default);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: theme(colors.dark-green.default);
  border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
  background-color: theme(colors.green.default);
  border-radius: 10px;
  border: 5px solid theme(colors.green.default);
}
